/* label color */
.input-field label {
  color: #FFF;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FFF;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #FFF;
}

body {
  height: 100vh;
}
#modal1 {
  border-radius: 20px;
}
#domainName {
  color: white;
  border-bottom: 1px solid white;
  font-size: 2.5em;
}
#doneButton {
  border: none;
}
#generateKeyBtn {
  font-size: 1.8em;
}
